@import url(https://fonts.googleapis.com/css?family=Roboto);@charset "UTF-8";

.bg-apple-green,
.card:after,
.btn.btn-success {
  background-color: #96BB00;
}

.bg-bittersweet {
  background-color: #FF715B;
}

.bg-bleue-de-france,
.btn.btn-primary,
.bg-primary {
  background-color: #3C91E6;
}

.bg-yellow-js {
  background-color: #f7df1e;
}

.bg-ice,
.social li,
body,
.btn.btn-white,
.accordion-header {
  background-color: #FAFFFD;
}

.bg-grey,
.accordion-header {
  background-color: #E1E2E3;
}

.bg-light-grey {
  background-color: #F1F1F1;
}

.bg-feldgrau,
.accordion-header.active,
.accordion-header:hover {
  background-color: #4C5B5C;
}

.bg-charcoal,
.sidenav {
  background-color: #1C2222;
}

.bg-vuejs {
  background-color: #4FC08D;
}

.bg-sass {
  background-color: #C6538C;
}

.bg-javascript {
  background-color: #ff9800;
}

.bg-php {
  background-color: #8892BF;
}

.bg-transparent,
.hamburger,
.btn.btn-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.bg-init {
  background-color: inherit;
}

.backgroung-img {
  position: relative;
  background-image: url(/public/images/PIA08093-orig.jpg);
  /* source: https://images-assets.nasa.gov/image/PIA08093/PIA08093~orig.jpg */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FAFFFD;
  overflow: hidden;
  height: 100%;
}

.bg-home {
  background-image: radial-gradient(ellipse at center, #3C91E6 0%, #1C2222 100%);
  background-attachment: fixed;
}

.transparent {
  height: 100%;
}

.outline-none,
.hamburger:active,
.hamburger:focus,
.hamburger:hover,
.accordion-button {
  outline: none;
}

.border-none,
.hamburger,
.btn.btn-border-none,
.accordion-button {
  border: none;
}

.border-zero,
.card {
  border: 0;
}

.border-color-apple-green,
.btn.btn-success {
  border-color: #96BB00;
}

.border-color-bittersweet,
.has-error {
  border-color: #FF715B;
}

.border-color-bleue-de-france,
.btn.btn-primary {
  border-color: #3C91E6;
}

.border-color-yellow-js {
  border-color: #f7df1e;
}

.border-color-ice,
.btn.btn-transparent {
  border-color: #FAFFFD;
}

.border-color-grey {
  border-color: #E1E2E3;
}

.border-color-light-grey {
  border-color: #F1F1F1;
}

.border-color-feldgrau {
  border-color: #4C5B5C;
}

.border-color-charcoal {
  border-color: #1C2222;
}

.border-color-vuejs {
  border-color: #4FC08D;
}

.border-color-sass {
  border-color: #C6538C;
}

.border-color-javascript {
  border-color: #ff9800;
}

.border-color-php {
  border-color: #8892BF;
}

.border-color-transparent {
  border-color: rgba(0, 0, 0, 0);
}

.border-color-init {
  border-color: inherit;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover,
.btn:focus {
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(60, 145, 230, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
  background-image: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
}

.c-apple-green {
  color: #96BB00;
}

.c-bittersweet {
  color: #FF715B;
}

.c-bleue-de-france {
  color: #3C91E6;
}

.c-yellow-js {
  color: #f7df1e;
}

.c-ice,
.sidenav a,
.hamburger::before,
.see-more,
.btn.btn-transparent,
.btn.btn-success,
.btn.btn-primary,
.bg-home,
.transparent {
  color: #FAFFFD;
}

.c-grey {
  color: #E1E2E3;
}

.c-light-grey {
  color: #F1F1F1;
}

.c-feldgrau,
.sidenav a:hover,
.accordion-button:after {
  color: #4C5B5C;
}

.c-charcoal,
.social a,
.btn.btn-white {
  color: #1C2222;
}

.c-vuejs {
  color: #4FC08D;
}

.c-sass {
  color: #C6538C;
}

.c-javascript {
  color: #ff9800;
}

.c-php {
  color: #8892BF;
}

.c-transparent {
  color: rgba(0, 0, 0, 0);
}

.c-init,
.accordion-button {
  color: inherit;
}

.d-none,
.hamburger.is-open .hamb-middle {
  display: none;
}

.d-block,
.social a,
.social li,
.sidenav a,
.hamburger.is-open:hover::before,
.hamburger.is-closed:hover::before,
.hamburger {
  display: block;
}

.d-flex,
.captcha {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-nowrap,
.sidenav .navbar > .nav,
.sidenav .navbar,
.captcha {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.header-1 {
  font-size: 4rem;
}

.header-2,
.header-title {
  font-size: 2.75rem;
}

.header-3,
.sidenav a,
.display-4 {
  font-size: 1.5rem;
}

.header-4 {
  font-size: 1rem;
}

.font-size-regular,
p {
  font-size: 1rem;
}

.font-size-small,
.hamburger.is-open::before {
  font-size: 1rem;
}

.font-size-x-small,
.hamburger.is-closed::before,
.accordion-button:after {
  font-size: 0.6875rem;
}

.font-weight-bold,
.header-title,
.second-title,
.main-title {
  font-weight: bold;
}

.opacity-none,
.hamburger::before {
  opacity: 0;
}

.opacity-full,
.hamburger.is-open:hover::before,
.hamburger.is-closed:hover::before {
  opacity: 1;
}

.position-fixed,
.sidenav,
.menu.fixed {
  position: fixed;
}

.position-absolute,
.card:after {
  position: absolute;
}

.position-top-zero,
.sidenav,
.hamburger.is-closed:hover .hamb-top,
.card:after {
  top: 0;
}

.position-top-alf-screen,
.hamburger.is-open .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-closed .hamb-middle {
  top: 50%;
}

.position-right-zero,
.menu.right {
  right: 0;
}

.position-bottom-zero,
.menu.bottom,
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
}

.position-left-zero,
.sidenav,
.card:after {
  left: 0;
}

.shadow,
.card {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.shadow-rised,
.btn.btn-rised {
  box-shadow: 0 1.5rem 5rem 0 rgba(0, 0, 0, 0);
}

.shadow-text-light {
  text-shadow: 0 0 1.25rem #4C5B5C;
}

.shadow-light,
.btn.shadow-light {
  box-shadow: 0 0 1.25rem #4C5B5C;
}

.width-x-large {
  width: 4rem;
}

.width-100prc,
.card:hover::after,
.accordion-button {
  width: 100%;
}

.width-zero,
.sidenav.is-closed,
.sidenav,
.card:after {
  width: 0;
}

.height-x-large {
  height: 4rem;
}

.height-100prc,
.sidenav {
  height: 100%;
}

.height-zero {
  height: 0;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

.mw-100 {
  max-width: 100%;
}

.mh-100 {
  max-height: 100%;
}

.mt-0,
.my-0 {
  margin-top: 0;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem;
}

.mt-3,
.my-3 {
  margin-top: 1rem;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem;
}

.mt-5,
.my-5 {
  margin-top: 3rem;
}

.mt-auto,
.my-auto {
  margin-top: auto;
}

.ml-0,
.mx-0 {
  margin-left: 0;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem;
}

.ml-3,
.mx-3 {
  margin-left: 1rem;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem;
}

.ml-5,
.mx-5 {
  margin-left: 3rem;
}

.ml-auto,
.mx-auto {
  margin-left: auto;
}

.mr-0,
.mx-0 {
  margin-right: 0;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem;
}

.mr-3,
.mx-3 {
  margin-right: 1rem;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem;
}

.mr-5,
.mx-5 {
  margin-right: 3rem;
}

.mr-auto,
.mx-auto {
  margin-right: auto;
}

.mb-0,
.my-0 {
  margin-bottom: 0;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem;
}

.mb-auto,
.my-auto {
  margin-bottom: auto;
}

.pt-0,
.py-0 {
  padding-top: 0;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem;
}

.pt-3,
.py-3 {
  padding-top: 1rem;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem;
}

.pt-5,
.py-5 {
  padding-top: 3rem;
}

.pt-auto,
.py-auto {
  padding-top: auto;
}

.pl-0,
.px-0 {
  padding-left: 0;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem;
}

.pl-3,
.px-3 {
  padding-left: 1rem;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem;
}

.pl-5,
.px-5 {
  padding-left: 3rem;
}

.pl-auto,
.px-auto {
  padding-left: auto;
}

.pr-0,
.px-0 {
  padding-right: 0;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem;
}

.pr-3,
.px-3 {
  padding-right: 1rem;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem;
}

.pr-5,
.px-5 {
  padding-right: 3rem;
}

.pr-auto,
.px-auto {
  padding-right: auto;
}

.pb-0,
.py-0 {
  padding-bottom: 0;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem;
}

.pb-auto,
.py-auto {
  padding-bottom: auto;
}

.text-left,
.header-title,
.accordion-button {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center,
.social a,
.social li,
.sidenav .navbar > .nav,
.sidenav .navbar,
.hamburger::before {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

h0 {
  display: block;
  margin: 0;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  font-weight: bold;
}

h1 {
  display: block;
  margin: 0;
  padding-left: 0;
  padding-top: 0.25rem;
  padding-right: 0;
  padding-bottom: 0.25rem;
  font-weight: bold;
}

h2 {
  display: block;
  margin: 0;
  padding-left: 0;
  padding-top: 0.5rem;
  padding-right: 0;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

h3 {
  display: block;
  margin: 0;
  padding-left: 0;
  padding-top: 1rem;
  padding-right: 0;
  padding-bottom: 1rem;
  font-weight: bold;
}

h4 {
  display: block;
  margin: 0;
  padding-left: 0;
  padding-top: 1.5rem;
  padding-right: 0;
  padding-bottom: 1.5rem;
  font-weight: bold;
}

h5 {
  display: block;
  margin: 0;
  padding-left: 0;
  padding-top: 3rem;
  padding-right: 0;
  padding-bottom: 3rem;
  font-weight: bold;
}

hauto {
  display: block;
  margin: 0;
  padding-left: 0;
  padding-top: auto;
  padding-right: 0;
  padding-bottom: auto;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.accordion-button {
  padding: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.accordion-button:after {
  content: "\2795";
  float: right;
  margin-left: 5px;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
}

.active .accordion-button:after {
  content: "\2796";
}

.messages {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
}

.messages.info {
  background-color: #3C91E6;
  color: #254159;
  border: 1px solid #c5e0f7;
}

.messages.warning {
  background-color: #ff9800;
  color: #5c4318;
  border: 1px solid #fbe2b6;
}

.messages.success {
  background-color: #96BB00;
  color: #3e4d18;
  border: 1px solid #deecb6;
}

.messages.error {
  background-color: #FF715B;
  color: #5c3832;
  border: 1px solid #fbd7d0;
}

.single-error {
  background-color: #FF715B;
  color: #FAFFFD;
  margin-top: 0.4rem;
  padding: 0.2rem 0.3rem;
}

.card:after {
  content: "";
  height: 2px;
  transition: 0.25s;
}

/*
* Globals
*/

*,
*:after,
*:before {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  overflow-y: auto !important;
  color: #212529;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

p {
  text-align: left;
}

ul {
  margin: 0;
}

.main-title {
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  font-size: 10vmin;
  color: #FAFFFD;
}

.second-title {
  font-size: 5rem;
}

.services .d-flex,
.services .captcha {
  flex-wrap: wrap;
}

.services .service {
  width: 33.33%;
  flex: 0 0 33.33%;
}

.services .service .title {
  display: inline-block;
  padding: 2rem 2rem;
  font-size: inherit;
  color: #FAFFFD;
}

.see-more > i {
  position: relative;
  -webkit-animation: up-down 1s linear infinite;
          animation: up-down 1s linear infinite;
}

@-webkit-keyframes up-down {
  from {
    top: -20px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes up-down {
  from {
    top: -20px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.header-title {
  margin-bottom: 2rem;
}

.header-lead {
  font-size: 1.25rem;
}

.intro {
  font-size: 1.25rem;
}

.container {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  flex: 0 0 50%;
  max-width: 50%;
}

.pl-2-6,
.px-2-6 {
  padding-left: 0.65rem;
}

.pr-2-6,
.px-2-6 {
  padding-right: 0.65rem;
}

/*
* Captcha
*/

.connection {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.take-contact {
  flex: 0 0 75%;
  max-width: 75%;
}

.about p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

.form-input {
  display: block;
  width: 100%;
  color: #4C5B5C;
  background-color: #FAFFFD;
  background-clip: padding-box;
  border: 1px solid #E1E2E3;
  padding: 0.75rem 0.375rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-input {
    transition: none;
  }
}

.form-input::-moz-placeholder {
  color: #4C5B5C;
  opacity: 1;
}

.form-input:-ms-input-placeholder {
  color: #4C5B5C;
  opacity: 1;
}

.form-input::-ms-input-placeholder {
  color: #4C5B5C;
  opacity: 1;
}

.form-input::placeholder {
  color: #4C5B5C;
  opacity: 1;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group > .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.hamb-top {
  height: 4px;
  background-color: #d1d1d1;
  margin-left: 0.3rem;
  width: 100%;
  position: absolute;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.hamb-middle {
  height: 4px;
  background-color: #d1d1d1;
  margin-left: 0.3rem;
  width: 100%;
  position: absolute;
  left: 0;
}

.hamb-bottom {
  height: 4px;
  background-color: #d1d1d1;
  margin-left: 0.3rem;
  width: 100%;
  position: absolute;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.hamburger {
  top: 1.25rem;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  z-index: 100;
  cursor: pointer;
}

.hamburger::before {
  content: "";
  width: 100px;
  line-height: 2rem;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s ease-in-out;
}

.hamburger.is-closed {
  position: fixed;
}

.hamburger.is-closed:hover::before {
  transform: translate3d(-100px, 0, 0);
  transition: all 0.5s ease-in-out;
}

.hamburger.is-closed .hamb-top {
  top: 5px;
}

.hamburger.is-closed .hamb-middle {
  margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
}

.hamburger.is-open {
  position: fixed;
}

.hamburger.is-open .hamb-top {
  margin-top: -2px;
  transform: rotate(45deg);
  transition-timing-function: transform 1s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open .hamb-bottom {
  margin-top: -2px;
  transform: rotate(-45deg);
  transition-timing-function: transform 1s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open:hover::before {
  transition: all 0.5s ease-in-out;
  transform: translate3d(-100px, 0, 0);
}

.sidenav {
  z-index: 1;
  overflow-x: hidden;
  padding-top: 4rem;
  transition: 0.5s;
}

.sidenav a {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  text-decoration: none;
  transition: 0.25s;
}

.sidenav .navbar {
  justify-content: center;
}

.sidenav.is-open {
  width: 23%;
  text-align: center;
}

#main {
  transition: margin-left 0.5s;
}

#main.is-closed {
  margin-left: 0;
}

#main.is-open {
  margin-left: 23%;
}

.skills-bar {
  width: 100%;
  background-color: #E1E2E3;
}

.skills-bar .skill {
  text-align: right;
  padding-right: 1.5rem;
  line-height: 3rem;
  color: #FAFFFD;
}

.skills-bar .skill::before {
  color: #FAFFFD;
  mix-blend-mode: difference;
}

.skills-bar .skill::after {
  color: #FAFFFD;
  mix-blend-mode: difference;
}

.skills-bar .skill.html {
  background-color: #96BB00;
}

.skills-bar .skill.css {
  background-color: #3C91E6;
}

.skills-bar .skill.vuejs {
  background-color: #4FC08D;
}

.skills-bar .skill.sass {
  background-color: #C6538C;
}

.skills-bar .skill.javascript {
  background-color: #ff9800;
}

.skills-bar .skill.php {
  background-color: #8892BF;
}

.skills-bar .skill.laravel {
  background-color: #FF715B;
}

.social li {
  line-height: 3.5rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 2rem;
  transition: transform 0.5s;
}

.social li:hover {
  transform: scale(1.3, 1.3);
}

.social a {
  font-size: 1.2rem;
}

.loader-ripple {
  display: inline-block;
  position: relative;
  min-width: 17px;
  min-height: 17px;
}

.loader-ripple div {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  background-color: #aaa;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: ripple 1.3s linear infinite;
          animation: ripple 1.3s linear infinite;
}

.loader-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}

@media (max-width: 1280px) {
  .container {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 4rem;
  }

  .service {
    width: 50%;
    flex: 0 0 50%;
  }

  .captcha {
    width: 100%;
  }

  .captcha #captchaView {
    flex-grow: 3;
  }

  .captcha #captchaView img {
    width: 100%;
  }

  .captcha #captchaRefresh {
    flex-grow: 1;
  }

  .captcha #captchaRefresh i {
    font-size: 2.5rem;
  }

  .sidenav {
    padding-top: 1rem;
  }

  .sidenav.is-open {
    width: 100%;
  }

  .sidenav .navbar .nav a {
    font-size: 2rem;
  }

  #main.is-open {
    margin-left: 0;
  }

  .hamburger.is-closed {
    position: absolute;
  }

  .social {
    margin-bottom: 1.5rem;
  }

  .social li {
    line-height: 1.5rem;
    height: 3rem;
    width: 3rem;
  }

  .social li a {
    font-size: 1rem;
    margin-top: 25%;
  }

  .btn-lg {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .header-lead {
    font-size: 2rem;
  }

  .header-title {
    font-size: 3rem;
  }

  .connection,
  .take-contact,
  .container {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .skills-bar .skill {
    line-height: 2rem;
  }
}

@media (max-width: 425px) {
  .main-title {
    font-size: 3rem;
  }

  .service {
    width: 100%;
    flex: 0 0 100%;
  }

  .service p {
    text-align: center;
  }

  .social li {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
  }
}


/*# sourceMappingURL=app.css.map*/