.loader-ripple {
  display: inline-block;
  position: relative;
  min-width: 17px;
  min-height: 17px;
}
.loader-ripple div {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  background-color: #aaa;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: ripple 1.3s linear infinite;
  // animation: ripple 1.3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes ripple {
  from { transform: scale(0); opacity: 1;}
  to  { transform: scale(1); opacity: 0;}
}
