@media(max-width: 1280px) {
  .container {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media(max-width: 768px) {
  .main-title {font-size: 4rem;}
  .service {
    width: 50%;
    flex: 0 0 50%;
  }
  .captcha {
    width: 100%;
    #captchaView {
      flex-grow: 3;
      img {
        width: 100%;
      }
    }
    #captchaRefresh {
      flex-grow: 1;
      i {
        font-size: 2.5rem;
      }
    }
  }
  .sidenav {
    padding-top: $size-small;
    &.is-open {
      width: $fullScreen;
    }
    .navbar {
      .nav {
        a { font-size: $size-large-small;}
      }
    }
  }
  #main {
    &.is-open {
      margin-left: 0;
    }
  }
  .hamburger {
    // width: 2rem;
    // height: 2rem;
    &.is-closed {
      position: absolute;
    }
  }
  .hamb-top,
  .hamb-middle,
  .hamb-bottom {
    // height: $hamburger-part-size-phone-height;
  }
  .social {
    margin-bottom: 1.5rem;
    li {
      line-height: 1.5rem;
      height: 3rem;
      width: 3rem;
      a {
        font-size: $size-small;
        margin-top: 25%;
      }
    }
  }
  .btn-lg {
    padding: $size-small $size-large-small;
    font-size: $size-small;
  }
  .card {
    padding: {
      left: 3rem;
      right: 3rem;
    }
  }
  .header {
    &-lead {font-size: 2rem}
    &-title {font-size: 3rem}
  }
  .connection,
  .take-contact,
  .container {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .skills-bar .skill {line-height: 2rem;}
  // section {min-height: $fullScreen}
}

@media(max-width: 425px) {
  .main-title {font-size: 3rem;}
  .service {
    width: 100%;
    flex: 0 0 100%;
    p {text-align: center;}
  }
  .social {
    li {
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 1rem;
    }
  }
}
