.social {
  li {
    line-height: 3.5rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 2rem;
    @include transition-transform($halfSecond);
    // @include rotate($northEast);
    @extend .d-block;
    @extend .text-center;
    @extend .bg-ice;
    @if $enable-shadows {
      @extend .shadow-light;
    }
    &:hover {
      // @include scale-rotate(1.3,1.3, $northEast);
      transform: scale(1.3,1.3);
    }
  }
  a {
    font-size: 1.2rem;
    @extend .d-block;
    @extend .text-center;
    // @include rotate($northWest);
    // @extend .width-x-large;
    // @extend .height-x-large;
    @extend .c-charcoal;
  }
}
