@mixin rotate($degres) {
  transform: rotate($degres);
}
@mixin scale-rotate($sx,$sy, $degres) {
  transform: scale($sx,$sy) rotate($degres);
}
@mixin translate3d ($sx, $sy, $sz) {
  transform: translate3d($sx, $sy, $sz);
}
