@mixin make-hamb-button-close($posHamp) {
  margin-top: -2px;
  @extend .position-top-alf-screen;
  @if $posHamp == 'top' {
    @include rotate($northEast);
  }
  @if $posHamp == 'bottom' {
    @include rotate($northWest);
  }
  @include transition-transform-cubic-bezier($second, .73,1,.28,.08);
}
@mixin make-hamb-button($posHamp) {
  height: 4px;
  background-color: #d1d1d1;
  margin-left: .3rem;
  width: 100%;
  position: absolute;
  left: 0;
  @if $posHamp != 'middle' {
    @include transition-all-ease-in-out($halfSecond);
  }
}
